<form
  (submit)="onSubmit($event)"
  class="p-12 mt-8 border-2 border-gray-300 rounded-md bg-gray-300/10 w-[600px] max-w-[95%] flex justify-evenly items-center"
>
  <div class="flex justify-center items-center">
    <input
      [(ngModel)]="userName"
      type="search"
      class="p-2 outline-none border-b border-gray-300 focus:border-blue-600 bg-transparent w-64 duration-300"
      name="userName"
      id="userName"
      placeholder="Pesquisar usuário..."
    />
  </div>
  <button
    class="px-8 py-2 rounded-full hover:ring-1 hover:ring-gray-300 duration-300 font-medium"
    type="submit"
  >
    Buscar
  </button>
</form>
