<div class="py-4 px-8 rounded-md border-2 bg-secondary-dark border-slate-500 hover:border-teal-400 duration-1000">
  <h3 class="text-lg font-semibold text-teal-400">
    {{repository.name}}
  </h3>


  <div class="flex justify-start items-center gap-4 my-4">
    <app-repo-stats type="star" [count]="repository.stargazers_count" />
    <app-repo-stats type="fork" [count]="repository.forks_count" />
  </div>

  @if(repository.description) {
  <p class="py-1">
    {{repository.description}}
  </p>
  } @else {
    <div class="py-4"></div>
  }

  <p class="py-2 text-slate-400 ">
    <i class="fa-solid fa-code"></i>
    <span class="pl-2">
      @if(repository.language) {
        {{repository.language}}
      } @else {
        Markdown
      }
    </span>
  </p>

  <div class="my-4 flex items-center justify-start flex-col md:flex-row gap-4">
    <a
      [href]="repository.html_url"
      target="_blank"
      rel="noopener"
      class="link-btn"
    >
      <i class="fa-brands fa-github pr-1 text-lg"></i>
      Acessar repositório
    </a>
    @if(repository.homepage) {
    <a
      [href]="repository.homepage"
      target="_blank"
      rel="noopener"
      class="ghost-btn px-12 md:px-4 py-2 rounded-full"
    >
      <i class="fa-solid fa-earth-americas pr-1 text-lg"></i>
      Visitar site
    </a>
    }
  </div>
</div>
