<div class="h-screen bg-primary-dark flex items-center justify-center">
  <div
  class="container lg:w-[800px] md:rounded-lg py-16 px-4 bg-secondary-dark flex flex-col items-center justify-center"
  >
  <h1 class="text-6xl font-bold tracking-wider text-shadow py-12">404</h1>

  <p class="text-lg mt-4 text-center">Desculpe, a página que você está procurando não foi encontrada.</p>
    <p class="text-lg my-2 text-center">
      Por favor, verifique o URL e tente novamente.
    </p>

    <a [routerLink]="['']" class="ghost-btn px-8 py-2 rounded-full mt-2">Voltar</a>
  </div>
</div>

