<div class="h-screen bg-primary-dark flex items-center justify-center">
  @if(isLoading) {
    <app-loader />
  } @else if(errorMsg) {
    <app-error errorTitle="errorMsg" >
      @if(errorMsg === 'Usuário não encontrado') {
        <p class="text-lg">Não conseguimos encontrar nenhum usuário com o nome
          <span class="text-slate-400 font-semibold">
            {{username}}
          </span>.
        </p>
        <p class="pb-8 text-lg">Verifique se o nome que você forneceu está correto e tente novamente.</p>
      } @else {
        <p class="pb-8 text-lg">Ocorreu um erro desconhecido.</p>
      }
    </app-error>
  } @else {
    <p>all right</p>
  }
</div>
