<div class="min-h-screen bg-primary-dark flex items-center justify-center">
  @if(isLoading) {
    <app-loader />
  } @else if(errorMsg) {
    <app-error errorTitle="errorMsg" >
      @if(errorMsg === 'Usuário não encontrado') {
        <p class="text-lg">Não conseguimos encontrar nenhum usuário com o nome
          <span class="text-slate-400 font-semibold">
            {{username}}
          </span>.
        </p>
        <p class="pb-8 text-lg">Verifique se o nome que você forneceu está correto e tente novamente.</p>
      } @else {
        <p class="pb-8 text-lg">Ocorreu um erro desconhecido.</p>
      }
    </app-error>
  } @else {
    <div class="container w-[800px] max-w-full rounded-lg p-4">
      <h2 class="text-xl font-bold text-center pb-4">Repositórios de <span class="text-slate-400 font-bold">
        {{username}}
      </span></h2>
      @for(repo of filteredRepos; track repo.name) {
        <app-repository [repository]="repo" />
      }
    </div>
  }
</div>
